.top-container {
    height: 600px;

    background-color: aquamarine
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Mitr', sans-serif;
}

h1, h2, h3  {
    font-family: 'Loved by the King', cursive;
    font-weight: 700;
}

.cloud-wrapper {
    height: 600px;
    width: 600px;
    margin: 0 auto;
    position: relative;
    border: 1px solid red;
    text-align: center;
}



.mountain {
    position: absolute;
    bottom: 0;
    left: 0;
}

span {
    text-decoration: underline;
}

.middle-container {
    width: 75%;
    margin: 0 auto;
    border: 2px solid red;
    text-align: center;
}

.profile {
    padding-bottom: 3rem;
}

.profile img {
    width: 100px;
    padding: 2rem 0;
}

.profile h2 {
    font-size: 3rem;
}

.skills {
    border: 2px solid green;
}

.skills h2 {
    font-size: 3rem;
}

.skills h3 {
    font-size: 2.5rem;
    margin: 0;
}
.skills-image1 {
    width: 150px;
    float: left;
    margin-right: 3rem;
}

.skills-row {
    text-align: left;
    margin-bottom: 2rem;
}

.skills2 {
    width: 150px;
    float: right;
}

.btn {
    background: #84c5f0;
    background-image: -webkit-linear-gradient(top, #84c5f0, #52ebd9);
    background-image: -moz-linear-gradient(top, #84c5f0, #52ebd9);
    background-image: -ms-linear-gradient(top, #84c5f0, #52ebd9);
    background-image: -o-linear-gradient(top, #84c5f0, #52ebd9);
    background-image: linear-gradient(to bottom, #84c5f0, #52ebd9);
    -webkit-border-radius: 12;
    -moz-border-radius: 12;
    border-radius: 12px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    display: block;
    width: 10rem;
    margin: 0 auto 1rem auto;
  }
  
  .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }

  .contact-me h3 {
      font-size: 3rem;
  }

  .contact-me h2 {
    font-size: 2.5rem;
}

.bottom-container {
    height: 80px;
    text-align: center;
    background-color: aquamarine;
}

